@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-green: #2ca72c;
  --text-green: #36ca36;
  --hover-green: #2ed62e;
  --bg-green: #d3f3d3;
  --main-gray: #808080;
  --border-gray: #c7c4c4;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-main-green: var(--main-green);
  --color-text-green: var(--text-green);
  --color-bg-green: var(--bg-green);
  --color-main-gray: var(--main-gray);
  --color-border-gray: var(--border-gray);
  --color-hover-green: var(--hover-green);



  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-roboto: var(--font-roboto)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
}