@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;

  --main-green: #24c33d;
  --text-green: #36ca36;
  --hover-green: #2ed62e;
  --bg-green: #d3f3d3;

  --main-gray: #808080;
  --border-gray: #c7c4c4;

  color-scheme: light;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-main-green: var(--main-green);
  --color-text-green: var(--text-green);
  --color-hover-green: var(--hover-green);
  --color-bg-green: var(--bg-green);

  --color-main-gray: var(--main-gray);
  --color-border-gray: var(--border-gray);

  --background-image-people: url('/bg-main_page.svg');

  --font-sans: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

.bg-zoom {
  position: relative;
  overflow: hidden;
}

.bg-zoom::before {
  content: "";
  position: absolute;
  inset: -10%;
  background-image: var(--background-image-people);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60% auto;
  transform: scale(1) rotate(0deg);
  animation: backgroundZoom 15s ease-in-out infinite alternate;
  will-change: transform;
  pointer-events: none;
}

@keyframes backgroundZoom {
  from {
    transform: scale(1) rotate(0deg);
  }

  to {
    transform: scale(1.06) rotate(8deg);
  }
}

@media (max-width: 640px) {
  .bg-zoom::before {
    inset: -20%;
    background-size: auto 75%;
  }
}

.scrollbar-hide {
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}